#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 6rem auto 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.clientDesc {
    font-weight: 300;
    font-size: 1rem;
}

.clientImgs {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.clientImg {
    object-fit: contain;
    width: 30%;
    padding: 1.75rem;
    border-radius: 1rem;
    border-color: rgb(50, 50, 50);
    border-style: solid;
    border-width: 2px;
}

#clients {
    padding-bottom: 2rem;
}

.contactHeader {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 3rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.submitBtn {
    background: white;
    color: rgb(50, 50, 50);
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 2.5rem;
    font-size: small;
    font-weight: 300;
}

.submitBtn:hover {
    background: rgb(122, 122, 122);
    color: white;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}