#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 7rem;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBody {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillSection {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    align-items: center;
}

.skillText {
    padding-top: 1.5rem;
}

.skillImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillText h2 {
    font-size: 1.25rem;
    font-weight: 300;
}

.skillText p{
    font-size: 0.9rem;
    font-weight: 200;
    font-style: italic;
}

@media screen and (max-width: 720px) {
    .skillText p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    .skillText p {
        font-size: 3vw;
    }

    .skillImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillText h2 {
        font-size: 5vw;
    }
}